.conversation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding: 10px;
    margin-top: 10px;
    background-color:  rgb(150, 232, 150);
    border-radius: 20px;
    cursor: pointer;
}
.conversation:hover{
    background-color: gray;
}